{%comment %}
  {% for product in collection.products %}
    <p style="
  {% if forloop.first %}
    color: green
      {% elsif forloop.last %}
    color:yellow
      
    {% endif %}">
  {{ forloop.index }}-{{ product.title }}</p>
  {% if product.tags.size > 0 %}
<h2>Tag</h2>
{% endif %} 
  <ul>
{% for tag in product.tags %}
 
<li>Product.Index: {{ forloop.parentloop.index }}| Tag: {{ tag }}</li>

    {% endfor %}
    </ul>
   
{% endfor %}
{% assign myMultilinetext = '
      This is the first line
      This is the second line
      This is the third line
      '
    
    %}
      {{ myMultilinetext | newline_to_br }}
      {% assign  myLongString  = "This is some very long text that will e trimed" %}
{{ myLongString | truncate: 30 | append:"!" | replace:"long", "short" }}


{% endcomment %}
 {% assign myNumber = "1,2,3,4" | split: ',' %}
 {% for number in myNumber %}
    <p>{{ number }}</p>
  {% endfor %}