{{ 'section-faq.css' | asset_url | stylesheet_tag }}
<div class="page-width">
<h2>{{ section.settings.headline }}</h2>
{% for block in section.blocks %}
<div class="faq-item">
      <input type="checkbox" id="faq{{ forloop.index }}" class="faq-toggle">
      <label for="faq{{ forloop.index }}" class="faq-button">{{ block.settings.question }}</label>
      <div class="faq-content">
        <p>{{ block.settings.answer }}</p>
      </div>
    </div>

   {% endfor %}
</div>
{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id": "headline"
      }
    ],
    "blocks": [
      {
        "name": "question",
        "type": "question",
        "settings": [
          {
            "type": "text",
            "label": "Question",
            "id": "question"
          },
          
          {
            "type": "textarea",
            "label": "Answer",
            "id": "answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ"
      }
    ]
  }
{% endschema %}
